<!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>Utility Tables</h1>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-code-fork"></i>
                            <h3 class="box-title">Orphan Tables</h3>
                        </div>
                        <div class="box-body">
                            {{#diagram}}
                            <div id="grid" data-columns>
                                <div class="item">
                                    {{#isEmbed}}
                                    <object type="image/svg+xml" id="orphans" data="{{fileName}}" style="max-width:100%;" border="0" align="top"></object>
                                    {{/isEmbed}}
                                    {{^isEmbed}}
                                    <img id="orphans" src="{{fileName}}" usemap="#{{mapName}}" style="max-width:100%;" border="0" align="top">
                                    {{/isEmbed}}
                                </div>
                            </div>
                            {{{map}}}
                            {{/diagram}}
                        </div>
                    </div>
                </section>